.form-inputs {
  width: 60%;
  margin: 0 auto;
}

.form-actions {
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

.form-actions a {
  text-decoration: none;
  margin: 0 auto;
}

.sign-in-btn {
  color: #fff !important;
  background-color: #35A7FF;
  padding: 10px 25px;
  border-radius: 3px;
}
