<div class="footer mt-3">
  <div class="footer-links">
    <a href="#">Terms</a>
    <a href="#">Contact us</a>
    <a href="#">Privacy</a>
    <a href="#">Help</i></a>
  </div>
  <div class="footer-copyright">
    <i class="far fa-copyright"></i> Repay the delay 2019
  </div>
</div>
