<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1464145672011-e33b3c1c7f81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
   <div class="welcometext">
    <h1> Find unique venues </h1>
    <h1> for your event ... </h1>
   </div>
    <div>form </div>
</div>


<h2>Explore</h2>
<div class="cards">
  <% @venues.each do |venue| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= venue.photo %>')"><%= link_to venue.name, venue_path(venue)%></div>
  <% end %>
</div>

