<div class="container">
  <div class="profile_items col-lg-4 offset-lg-4">
    <h1 >Your Bookings</h1>
  </div>
    <% if current_user.bookings.count == 0%>
      <p class= "pl-5 ml-4">No bookings yet</p>
    <% end %>
  <div class="col-lg-12">
    <%= render "bookings/index" %>
  </div>
</div>


