.banner {
  background-position: center bottom;
  background-size: cover;
  padding: 150px 0;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.welcometext {
  top: 33%;
  left: 5%;
  position: absolute;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
