#map {
  width: 89.5%;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgba(0,0,0,0.1);
  margin-top: 20px;
}

#results-under-map {
  margin-top: 0.0px;
}

#map_container {
}


.mapwrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0.0000001px;
}


.mapboxgl-popup {
  max-width: 200px;
}


.mapboxgl-popup-content {
  color: rgba(13,28,42,0.9);
  text-align: center;
  font-family: "Open Sans", "Helvetica", sans-serif;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
}

#info {
  padding: 5px;

  a {
    color: rgba(13,28,42,0.9);
  }
}

