.navbar-lewagon {
  justify-content: space-between;
  background: rgba(13,28,42,0.9);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  white-space: nowrap;
}

#logo-text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
  vertical-align: bottom;
  color: white;
}

.search-form-control {
  position: relative;
}

.search {
  margin-right: 545px;
  margin-top: 10px;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  background-color: #35A7FF;
  color: #fff;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #35A7FF;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.search {
  flex-grow: 1;
  justify-content: flex-start;
  width: 50%;
}

.nav-link {
  color: white;
}

#nav-link-white {
  color: white;
}

#navbar-homepage {
  background: rgba(0,0,0,0.0);
  position: absolute;
  top: 0px;
  right: 0px;
  justify-content: space-between;
}

.position-form {
  display: flex;
}

/* Style The Dropdown Button */
.dropbtn {
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(13,28,42,0.9);
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {

}

