// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  color: rgb(13,28,42);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}


li {
  list-style-type: none;
}

body {
 background: white;
}

.container {
  background: white;
}

.btn {
  background-color: rgba(13,28,42,0.9);
  color: white;
}

.text-align {
  text-align: center;
}

.card-img-top.pt-3.rounded {
  height: 250px;
  object-fit: cover;
}

.profile_items {
  background-color: rgba(13,28,42,0.9);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  align: center;

  h1 {
    font-size: 34px;
    margin: 0;
  }
}




